# MOVIE RECOMMENDATION USING COSINE SIMILARITY!

In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
credits_df= pd.read_csv('C:/users/moaaz/notebooks/MOVIE RECOMMENDATION MODEL/movie data/credits.csv',low_memory=False)
keywords_df = pd.read_csv('C:/users/moaaz/notebooks/MOVIE RECOMMENDATION MODEL/movie data/keywords.csv',low_memory=False)
metadata = pd.read_csv('C:/users/moaaz/notebooks/MOVIE RECOMMENDATION MODEL/movie data/movies_metadata.csv',low_memory=False)

In [3]:
metadata = metadata[['genres', 'id', 'overview', 'title']]

In [4]:
metadata.dropna(inplace=True)
metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44506 entries, 0 to 45465
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    44506 non-null  object
 1   id        44506 non-null  object
 2   overview  44506 non-null  object
 3   title     44506 non-null  object
dtypes: object(4)
memory usage: 1.7+ MB

In [5]:
result = pd.concat([credits_df, keywords_df], axis=1, join='inner')

In [6]:
result.dropna(inplace=True)

In [7]:
metadata_res = pd.concat([result, metadata], axis=1, join='inner')

In [8]:
id = metadata_res['id']
id = id.dropna()
id = id.iloc[:, 1]
id.shape

(44506,)

In [9]:
metadata_res=metadata_res.drop(columns='id', axis=1)

In [10]:
metadata_res1 = metadata_res.join(id)

In [11]:
metadata_res1

,cast,crew,keywords,genres,overview,title,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",Toy Story,862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...,Jumanji,8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...,Grumpier Old Men,15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale,31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...,Father of the Bride Part II,11862
...,...,...,...,...,...,...,...
45461,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4a71c3a36847f81ce35b', 'de...",[],"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",Rising and falling between a man and woman.,Subdue,67451
45462,[],"[{'credit_id': '539ef1090e0a263dd00000d7', 'de...",[],"[{'id': 18, 'name': 'Drama'}]",An artist struggles to finish his work while a...,Century of Birthing,92132
45463,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...","[{'id': 818, 'name': 'based on novel'}]","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","When one of her hits goes wrong, a professiona...",Betrayal,75294
45464,"[{'cast_id': 0, 'character': 'Lauren', 'credit...","[{'credit_id': '587626f4c3a3682b33008299', 'de...","[{'id': 187056, 'name': 'woman director'}]",[],"In a small town live two brothers, one a minis...",Satan Triumphant,63293
45465,"[{'cast_id': 5, 'character': '', 'credit_id': ...","[{'credit_id': '5330178a9251413a720055e3', 'de...",[],[],50 years after decriminalisation of homosexual...,Queerama,73267

In [12]:
metadata_res1.info()
metadata_res1.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44506 entries, 0 to 45465
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cast      44506 non-null  object
 1   crew      44506 non-null  object
 2   keywords  44506 non-null  object
 3   genres    44506 non-null  object
 4   overview  44506 non-null  object
 5   title     44506 non-null  object
 6   id        44506 non-null  int64
dtypes: int64(1), object(6)
memory usage: 3.7+ MB

(44506, 7)

In [13]:
metadata_res1.overview=metadata_res1.overview.str.lower()

In [14]:
def transform(genre_lst):
    lst = [(i['name']).lower() for i in ast.literal_eval(genre_lst)]
    string = ' '.join(str(i) for i in lst)
    return string

metadata_res1['genres'] = metadata_res1['genres'].apply(transform)

In [15]:
metadata_res1['keywords'] = metadata_res1['keywords'].apply(transform)

In [16]:
def transform2(genre_lst):
    lst=[]
    counter=0
    
    for i in ast.literal_eval(genre_lst):
        if counter!=3:
            lst.append((i['name']).lower())
            counter+=1
        else:
            break
            
    string = ' '.join(str(i) for i in lst)
    return string

metadata_res1['cast'] = metadata_res['cast'].apply(transform2)

In [17]:
def getDirector(obj):
    lst=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            lst.append((i['name']).lower())
            break

    string = ' '.join(str(i) for i in lst)
    return string



metadata_res1['crew']  = metadata_res1['crew'].apply(getDirector)

In [18]:
metadata_res1['title'] = metadata_res1['title'].str.lower()

metadata_res1=metadata_res1.reset_index(drop=True)

metadata_res1=metadata_res1.drop_duplicates(subset=['title'],keep='first')

In [19]:
metadata_res1.shape

(41322, 7)

In [20]:

from nltk.corpus import stopwords
from nltk import word_tokenize

In [21]:
# def removeSpaces(string):
#     lst = []
#     for i in string:
#         lst.append(i.replace(" ",""))
#     string = ' '.join(str(i) for i in lst)
#     return string

# metadata_res1['cast'] = metadata_res1['cast'].apply(removeSpaces)
# metadata_res1['crew'] = metadata_res1['crew'].apply(removeSpaces)
# metadata_res1['genres'] = metadata_res1['genres'].apply(removeSpaces)
# metadata_res1['keywords'] = metadata_res1['keywords'].apply(removeSpaces)
# metadata_res1['overview'] = metadata_res1['overview'].apply(removeSpaces)

In [22]:
metadata_res1['tags'] =metadata_res1['genres'] + ' ' + metadata_res1['keywords']

In [23]:
processed = metadata_res1.drop(columns=['overview','genres','keywords','cast','crew'])

In [24]:
processed = processed.reset_index(drop=True)

In [25]:
# THIS WILL SEARCH FOR EMPTY TAGS:

count=0
for i in range(len(processed)):
    if not processed.loc[i, 'tags']:
        processed.drop(i, inplace=True)
        count+=1

In [26]:
# Import the TfidfVectorizer and default list of English stop words
from sklearn.feature_extraction.text import CountVectorizer, ENGLISH_STOP_WORDS, TfidfVectorizer

# Build the vectorizer
vect = TfidfVectorizer(stop_words=stopwords.words('english'), ngram_range=(1,2), max_features=200).fit(processed.tags)
# Create sparse matrix from the vectorizer
X = vect.transform(processed.tags)

# Create a DataFrame
tags_transformed = pd.DataFrame(X.toarray(), columns=vect.get_feature_names_out())
print('Top 5 rows of the DataFrame: \n', tags_transformed.head(100))

Top 5 rows of the DataFrame:
       action  action adventure  action comedy  action crime  action drama  \
0   0.000000          0.000000            0.0           0.0           0.0
1   0.000000          0.000000            0.0           0.0           0.0
2   0.000000          0.000000            0.0           0.0           0.0
3   0.000000          0.000000            0.0           0.0           0.0
4   0.000000          0.000000            0.0           0.0           0.0
..       ...               ...            ...           ...           ...
95  0.235308          0.374116            0.0           0.0           0.0
96  0.000000          0.000000            0.0           0.0           0.0
97  0.000000          0.000000            0.0           0.0           0.0
98  0.000000          0.000000            0.0           0.0           0.0
99  0.000000          0.000000            0.0           0.0           0.0

    action science  action thriller  adventure  adventure comedy  \
0              0.0              0.0   0.000000               0.0
1              0.0              0.0   0.326568               0.0
2              0.0              0.0   0.000000               0.0
3              0.0              0.0   0.000000               0.0
4              0.0              0.0   0.000000               0.0
..             ...              ...        ...               ...
95             0.0              0.0   0.286892               0.0
96             0.0              0.0   0.000000               0.0
97             0.0              0.0   0.000000               0.0
98             0.0              0.0   0.000000               0.0
99             0.0              0.0   0.000000               0.0

    adventure drama  ...  wedding  western  wife  woman  woman director  \
0          0.000000  ...      0.0      0.0   0.0    0.0             0.0
1          0.000000  ...      0.0      0.0   0.0    0.0             0.0
2          0.000000  ...      0.0      0.0   0.0    0.0             0.0
3          0.000000  ...      0.0      0.0   0.0    0.0             0.0
4          0.000000  ...      0.0      0.0   0.0    0.0             0.0
..              ...  ...      ...      ...   ...    ...             ...
95         0.424038  ...      0.0      0.0   0.0    0.0             0.0
96         0.000000  ...      0.0      0.0   0.0    0.0             0.0
97         0.000000  ...      0.0      0.0   0.0    0.0             0.0
98         0.000000  ...      0.0      0.0   0.0    0.0             0.0
99         0.000000  ...      0.0      0.0   0.0    0.0             0.0

    world  world war  york  york city  zombie
0     0.0        0.0   0.0        0.0     0.0
1     0.0        0.0   0.0        0.0     0.0
2     0.0        0.0   0.0        0.0     0.0
3     0.0        0.0   0.0        0.0     0.0
4     0.0        0.0   0.0        0.0     0.0
..    ...        ...   ...        ...     ...
95    0.0        0.0   0.0        0.0     0.0
96    0.0        0.0   0.0        0.0     0.0
97    0.0        0.0   0.0        0.0     0.0
98    0.0        0.0   0.0        0.0     0.0
99    0.0        0.0   0.0        0.0     0.0

[100 rows x 200 columns]

In [27]:
from sklearn.metrics.pairwise import cosine_similarity

In [28]:

similarity = cosine_similarity(X)

In [29]:

X.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [30]:
# processed[processed['title'] == 'The Lego Movie'].index[0]

In [ ]:
processed.shape

(41322, 3)

In [ ]:
processed[processed['title'] == 'jumanji'].index[0]

1

In [ ]:
distances = sorted(list(enumerate(similarity[0])),reverse=True,key = lambda x: x[1])

In [ ]:
def recommend(movie):
    movie = movie.lower()
    try:
        index = processed[processed['title'] == movie].index[0]
        distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
        for i in distances[1:6]:
            print(processed.iloc[i[0]].title)
    except IndexError:
        print('Sorry! Movie was not found in database, try searching for something else.')

In [ ]:
recommend('Titanic')

facing windows
reconstruction
heartbeats
broken embraces
the other side of midnight